.mi-boton {
    background-color: rgb(139, 21, 44);
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    padding: 8px 20px;
    border: none;
}