.tituloprocesadores{
    color: gray;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    text-decoration: solid;
    
    .mensajeProcesador{
    font-size: 15px;
    color: black;
}
}
