.navbar {
    background-color: rgb(0, 0, 0);

    .navbar__contenedor{
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            color: white;
            font-weight: 700;
            align-items: center;
        }
        .navbar__nav{
            display: flex;
            gap: 20px;
            align-items: center;
            
            .navbar__link{
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}